* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: "Protest Guerrilla", sans-serif;
}

.card-container {
  display: flex;
  width: 50%;
  margin: 2.5rem auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 26%;
  height: 30rem;
  margin: 1rem;
  border: 2px solid azure;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  background-image: url(Images/background.png);
  background-size: cover;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.5s ease;
}

.card-ani:hover {
  box-shadow: 0 4px 20px blue;
}

@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .card {
    width: 50%;
  }
}

.images {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.page-head {
  font-size: 5rem;
  text-align: center;
}

.text-ani {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.text-ani:hover {
  transform: scale(1.3);
  color: red;
}
